<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <title>Главная | ProCredit</title>
  </head>

  <body>
    <%- include('blocks/header.ejs') %>
    <main>
      <div class="mainPage">
        <h1 id="services"><%= text %></h1>
      </div>
    </main>
    <footer class="footer">
      <p id="author">Disigned by @perpetuumm0bi1e</p>
    </footer>
  </body>
</html>
