<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Регистрация | ProCredit</title>
  </head>

  <body>
    <%- include('blocks/header.ejs') %>
    <main>
      <div class="registrationPage">
        <h1 id="registration">Регистрация</h1>
        <div id="registrationBox">
          <form id="registrationForm" method="post" action="/profile">
            <div class="inputData">
              <div class="personalData">
                <p class="subHeading" id="personalDataLabel">Личные данные</p>
                <input
                  type="text"
                  class="input"
                  id="surname"
                  name="surname"
                  placeholder="Фамилия" />
                <input
                  type="text"
                  class="input"
                  id="name"
                  name="name"
                  placeholder="Имя" />
                <input
                  type="text"
                  class="input"
                  id="patronymic"
                  name="patronymic"
                  placeholder="Отчество" />
              </div>
              <div class="contactInformation">
                <p class="subHeading" id="contactInformationLabel">
                  Данные для входа
                </p>
                <input
                  type="text"
                  class="input"
                  id="login"
                  name="login"
                  placeholder="Логин" />
                <input
                  type="password"
                  class="input"
                  id="passwordFirst"
                  name="passwordFirst"
                  placeholder="Пароль" />
                <input
                  type="password"
                  class="input"
                  id="passwordSecond"
                  name="passwordSecond"
                  placeholder="Повторите пароль" />
              </div>
            </div>
            <div class="inputButton">
              <input
                type="submit"
                id="createAnAccount"
                value="Создать аккаунт" />
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p id="author">Disigned by @perpetuumm0bi1e</p>
    </footer>
  </body>
</html>
