@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: #F6F7F8;
}


/*стиль хедера*/

.header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 50px rgba(1, 1, 1, 0.05);
}

#logo {
    grid-column: 2 / 5;
    font-family: 'Unbounded', cursive;
    color: #1E1E1E;
    letter-spacing: 2px;
    font-size: 30px;
}

#applications {
    grid-column: 9;
    font-size: 16px;
    color: #7C7C7C;
}

#applications:hover {
    color: #1E1E1E;
}

#profile {
    grid-column: 10;
    font-size: 16px;
    color: #7C7C7C;
}

#profile:hover {
    color: #1E1E1E;
}


/*стиль страниц*/

.mainPage,
.authoriaztionPage,
.registrationPage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 1300px;
}

.servicesBoxesContainer {
    grid-column: 1 / 13;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px 200px;
    width: 100%;
}

#services,
#authoriaztion,
#registration {
    grid-column: 5 / 9;
    margin-bottom: 100px;
    color: #010101;
    font-size: 40px;
    text-align: center;
}


/*стиль карточек на главной странице*/

.servicesBoxes {
    padding: 40px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
}

.servicesBoxes:hover {
    box-shadow: 5px 5px #404040;
    transform: translateX(-10px);
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}

.servicesBoxes p {
    font-size: 18px;
    font-weight: 500;
}

.servicesBoxes img {
    margin-bottom: 40px;
    align-self: center;
    height: 120px;
    width: 120px;
}


/*конец стиля карточек на главной странице*/


/*стиль страницы авторизации*/

#authorizationBox {
    grid-column: 3 / 11;
    padding: 60px 120px;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    box-shadow: 0px 0px 50px rgba(1, 1, 1, 0.05);
    background-color: #ffffff;
}

#authorizationForm {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: inherit;
    width: inherit;
}

.input {
    padding: 12px 15px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    transition: all 0.3s ease-in-out;
}

.input:hover {
    border: 1px solid #1E1E1E;
    transition: all 0.3s ease-in-out;
}

input[type="submit"] {
    display: block;
    margin: 60px 0px -10px;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1E1E1E;
    transition: all 0.4s ease-in-out;
}

input[type="submit"]:hover {
    box-shadow: 5px 5px #404040;
    transition: all 0.4s ease-in-out;
}

input[type="submit"]:active {
    box-shadow: none;
    transform: translateX(10px);
    transform: translateY(5px);
    transition: all 0.4s ease-in-out;
}

#newAccountButton {
    margin-bottom: -20px;
    padding: 12px 15px;
    border: none;
    font-size: 16px;
    color: #1E1E1E;
    background-color: #ffffff;
}

#newAccountButton a {
    color: #1E1E1E;
}

#newAccountButton:hover {
    font-weight: 500;
}


/*стиль страницы регистрации*/

#registrationBox {
    grid-column: 1 / 13;
    padding: 50px 100px;
    height: 750px;
    width: 300px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px rgba(1, 1, 1, 0.05);
}

#registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    width: inherit;
}

.inputData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.inputData div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}
.personalData{
    height: 320px;
}
.loginData{
    margin-top: 40px;
    height: 250px;
}
.inputButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subHeading {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #1E1E1E;
}

#createAnAccount {
    margin-bottom: 0px;
    width: 300px;
}


/*стиль футера*/

.footer {
    margin-top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7c7c7;
    height: 120px;
}

#author {
    letter-spacing: 2px;
    font-size: 14px;
    color: #F6F7F8;
}