@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
    --dark-gray: #282828;
    --gray: #636363;
    --gray-2: #c7c7c7;
    --light-gray: #ebebeb;
    --light-gray-2: #e1e1e1;
    --white: #fefefe;
    --error-red: #D01919;
}

* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: #F6F7F8;
}

.button-type-1 {
    display: block;
    margin: 120px 0px 10px 0px;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--dark-gray);
    transition: all 0.4s ease-in-out;
}

.button-type-1:hover {
    box-shadow: 5px 5px var(--gray);
    transition: all 0.4s ease-in-out;
}

.button-type-1:active {
    box-shadow: none;
    transform: translate(5px, 5px);
    transition: all 0.4s ease-in-out;
}


/*стиль хедера*/

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    height: 70px;
    width: 100vw;
    background: var(--white);
    box-shadow: 0px 0px 50px rgba(1, 1, 1, 0.05);
    border-radius: 0px 0px 5px 5px;
    transition: all .6s ease-in-out;
}

.header_hidden {
    transform: translateY(-100%);
}

#logo {
    grid-column: 2 / 5;
    font-family: 'Unbounded', cursive;
    color: var(--dark-gray);
    letter-spacing: 2px;
    font-size: 25px;
}

#applications-link {
    grid-column: 9;
    font-size: 15px;
    color: var(--gray);
}

#applications-link:hover {
    color: var(--dark-gray);
}

#profile-link {
    grid-column: 10;
    font-size: 15px;
    color: var(--gray);
}

#profile-link:hover {
    color: var(--dark-gray);
}


/*стили страниц*/

.main-page,
.autentication-page,
.registration-page,
.profile-page,
.applications-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 0px auto;
    max-width: 1300px;
    height: auto;
    min-height: 100vh;
}

.services-boxes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px 200px;
    width: 100%;
}

#services,
#autentication,
#registration,
#profile,
#applications {
    margin-bottom: 80px;
    color: var(--dark-gray);
    font-size: 40px;
    text-align: center;
}


/*стиль карточек на главной странице*/

.service-box {
    padding: 40px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 200px;
    background-color: var(--white);
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
}
.service-box:hover {
    box-shadow: 5px 5px #404040;
    transform: translateX(-10px);
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}
.box-animation{
    opacity: 0;
    transform: translateY(10%);
}
.box-animation-show{
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s;
}


.service-box p {
    font-size: 18px;
    font-weight: 500;
}

.service-box img {
    margin-bottom: 40px;
    align-self: center;
    height: 120px;
    width: 120px;
}


/*конец стиля карточек на главной странице*/


/*стиль страницы аутентификации*/
.applications-box,
.autentication-box,
.registration-box,
.profile-box {
    padding: 50px 100px;
    height: auto;
    width: 300px;
    border-radius: 30px;
    box-shadow: 0px 0px 50px rgba(1, 1, 1, 0.05);
    background-color: var(--white);
}

.error-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5px 0px;
    margin: 80px auto -100px auto;
    height: auto;
    width: 300px;
    border-radius: 10px;
    font-size: 14px;
    color: var(--error-red);
    background: var(--light-gray);
    opacity: .7;
}

#autentication-form,
#registration-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
    height: auto;
    width: inherit;
}

.input {
    padding: 12px 15px;
    margin: 10px 0px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid var(--gray-2);
    transition: all 0.3s ease-in-out;
}

.input:hover {
    border: 1px solid var(--dark-gray);
    transition: all 0.3s ease-in-out;
}

.unbordered-button {
    padding: 12px 15px;
    border: none;
    font-size: 16px;
    color: var(--dark-gray);
    background-color: var(--white);
}

.unbordered-button a {
    color: var(--dark-gray);
}

.unbordered-button:hover {
    font-weight: 500;
}


/*стиль страницы регистрации*/

.input-data div {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-data {
    margin-top: 40px;
}

.sub-heading {
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 600;
    color: var(--dark-gray);
}


/*стиль футера*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    height: 120px;
    margin-top: 300px;
}

.footer>p:first-child {
    margin-top: 20px;
}

#author {
    letter-spacing: 2px;
    font-size: 12px;
    color: var(--white);
}


/*конец стиля страницы регистрации*/


/*стиль страницы профиля*/

.profile-box {
    width: 700px;
}

.user-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-data div {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.data-category {
    margin-top: 40px;
    font-size: 17px;
    color: var(--dark-gray);
}

.description {
    font-size: 15px;
    margin-top: -5px;
    color: var(--gray);
}

.profile-box-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 120px auto 0px auto;
}

.additional-action-button {
    margin: 0;
    width: 150px;
    text-align: center;
    background: none;
}

.additional-action-button:hover {
    font-size: 16.5px;
    box-shadow: none;
}

#log-out {
    color: var(--gray);
}

#edit-personal-information {
    margin: 0;
    width: 200px;
}

#delete-an-account {
    color: var(--error-red);
}


/*конец стиля страницы профиля*/


/*стиль страницы с заявками*/

.applications-box {
    padding: 60px 80px;
    width: 900px;
}

.applicationsTable {
    margin: 0px auto;
    max-height: 400px;
    width: inherit;
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
}

td,
th {
    width: 25%;
    padding: 20px 30px;
    border: none;
    text-align: left;
    vertical-align: baseline;
}

td {
    font-size: 16px;
    color: var(--gray);
    border-radius: 7px;
}

th {
    font-size: 17px;
    color: var(--dark-gray);
}

tr {
    border: none;
    transition: all 0.35s ease-in-out;
}

.add-button {
    position: relative;
    bottom: 0px;
    left: 850px;
    margin-top: 100px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    font-size: 30px;
    color: var(--dark-gray);
    background-color: var(--light-gray);
    transition: all 0.35s ease-in-out;
}

.add-button:hover {
    background-color: var(--light-gray-2);
    transition: all 0.35s ease-in-out;
}


/*стиль модального окна*/

.modal-add-application {
    z-index: -1;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s, background-color .5s;
}

.is-open {
    z-index: 11;
    opacity: 1;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 280px;
    height: 100%;
    max-height: 450px;
    margin: 0px auto;
    padding: 60px 100px;
    border-radius: 20px;
    background-color: var(--white);
}

.close-modal-button-container {
    width: inherit;
    display: flex;
    justify-content: flex-end;
}

.close-modal-button {
    position: absolute;
    margin: -15px -50px 0px 0px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-gray);
    background-color: var(--light-gray);
    opacity: 0.9;
    transition: all 0.35s ease-in-out;
}

.close-modal-button:hover {
    background-color: var(--light-gray-2);
    transition: all 0.35s ease-in-out;
}

#add-application-heading {
    margin-bottom: 60px;
}

#application-type {
    font-size: 14px;
    color: var(--dark-gray);
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    transition: all 0.3s ease-in-out;
}

#application-type:hover {
    border: 1px solid var(--dark-gray);
    transition: all 0.3s ease-in-out;
}

#application-form {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: inherit;
}

.application-type-option {
    padding: 12px;
    font-size: 14px;
    color: var(--dark-gray);
    transition: all 0.35s ease-in-out;
}

.application-type-option:hover {
    background: rgba(235, 235, 235, 1);
    transition: all 0.35s ease-in-out;
}