<header>
  <div class="header">
    <a href="/" id="logo">Pro Credit</a>
    <a href="/applications" id="applicationsLinks">Заявки</a>
    <a href="/authorization" id="profileLink">Профиль</a>
  </div>
</header>
