<header>
  <div class="header">
    <a href="/" id="logo">Pro Credit</a>
    <a href="/applications" id="applicationsLink">Заявки</a>
    <a href="/profile" id="profileLink">Профиль</a>
  </div>
</header>
