<header>
    <div class="header">
        <a href="/" id="logo">Pro Credit</a>
        <a href="/applications" id="applications-link">Заявки</a>
        <a href="/profile" id="profile-link">Профиль</a>
    </div>
</header>